body {
    margin: auto;
    font-family: 'Hanken Grotesk';
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.div-element-big {
    border-radius: 15px;
    box-shadow: 10px 20px 20px hsla(234, 85%, 45%, 0.1);
    margin: 0 !important;
    max-height: 100vh;
    height: 400px;
    width: 600px;
}

.div-element-blue {
    background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 15px;
    height: 400px;
    max-height: 100vh;
}

.div-element-white {
    max-height: 100vh;
}

@media (max-width: 575.98px) {
    body {
        width: 100%;
        margin: 0;
        align-items: flex-start !important;
    }

    .div-element-big {
        border-radius: 0;
        box-shadow: none;
    }

    .div-element-blue {
        background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
        border-radius: 0 0 15px 15px;
    }
}

.medium-font {
    font-weight: 500;
}

.bold {
    font-weight: 700;
}

.extra-bold {
    font-weight: 800;
}


/* hsla() -- a: opacity (alpha) */
:root {
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

.circle {
    background: linear-gradient(180deg, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
    position: relative;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 65%;
}

.str-your-result {
    color: hsl(241, 100%, 89%);
    font-size: 110%;
}

.number-your-result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 325%;
}

.str-of-100 {
    font-size: 85%;
    color: hsl(241, 100%, 89%, 0.5);
    margin-top: 80px;
}

.str-great {
    font-size: 150%;
    margin: 15px;
    margin-bottom: 10px;
}

.str-rating {
    font-size: 85%;
    color: hsl(241, 100%, 89%, 0.9);
    margin: 0px 25px 25px 25px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Font by using the local font files */

/* 
@font-face {
    font-family: 'CustomFontMedium';
    src: url('../fonts/static/HankenGrotesk-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'CustomFontBold';
    src: url('../fonts/static/HankenGrotesk-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'CustomFontExtraBold';
    src: url('../fonts/static/HankenGrotesk-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'CustomFontVariable';
    src: url('../fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
}

.medium-font {
    font-family: 'CustomFontMedium';
}

.bold {
    font-family: 'CustomFontBold';
}

.extra-bold {
    font-family: 'CustomFontExtraBold';
}

.variable-font {
    font-family: 'CustomFontVariable';
}
*/